*{box-sizing:border-box;}
#conteudo {background-color: red; width:300px; padding:20px; box-shadow:10px 10px 5px green;}

/* Aula 9
p {color:red; text-decoration: none; text-transform: capitalize; text-align: justify; text-indent: 20px; line-height: 25px; direction: ltr; letter-spacing: 3px; word-spacing: 4px;}
h1 {text-align: left; text-decoration: underline; text-shadow: 1px 3px 4px red;}
h2 {text-align: right; text-decoration: overline;}
h3 {text-align: center; text-decoration: line-through;}
*/

/* Aula 8
p {color:red; text-decoration: none; text-transform: capitalize;}
h1 {text-align: left; text-decoration: underline;}
h2 {text-align: right; text-decoration: overline;}
h3 {text-align: center; text-decoration: line-through;}
*/

/* Aula 7
#exemplo {background-color: green; color: #fff; width:500px; height:200px; padding: 10px 20px 30px 30px;}
#exemplo2 {background-color: red; color:#fff; width:500px; margin: 20px 30px 20px 40px;}
*/

/* Aula 6
#conteudo {width:80%; height: 100px;background-color: green; color:#fff; padding: 20px;}
/*max-witdh: 500px; min-witdh:  500px; min-height: 20px;*/

/* Aula 5
.texto-principal {color:red; text-align: center;}

.fundo-principal {background-color: green; padding: 20px;}

#conteudo {background-color: blue; padding: 20px; color: green;}
*/

/* Aula 4
h1, h2, p {color: red; text-align: center;}
*/

/* Aula 3
 * {margin:0px; padding:0; color:red;}

h1 {color:blue; font-size:50px;}
p {color:green; font-size:12px;}

input[type="text"]{width:200px; background-color: #ccc; height:35px; border:none;}
input[name="email"]{width:200px; background-color: #ccc; height:35px; border:none;}
input[type="submit"]{width:50px; background-color: green; height:35px; border:none; cursor:pointer; color:#fff;}

/* Aula 2
h1 {color:blue; font-size:60px; font-family: tahoma;}
*/