* {margin: 0; padding: 0;}
nav {width: 100vw; height: 80px; background-color: blue;}
.banner {width: 100vw; height: calc(100vh - 80px); background-image: url(./img/lsNewLogo.png); background-size: cover;}

/* Reset básico e padrão para os navegadores */
/* * {margin:0px; padding:0px; border: none;}
a {text-decoration: none;}
ul {list-style: none;}

/* Aula 27
.noticia:target {background-color: #c3c3c3; padding: 10px;}

/*Aula 26
:root {
    --bg-color: blue;
    --txt-color: #fff;
    --pddng: 20px;
}

#div1, #div2, #div3 {background-color: var(--bg-color); color: var(--txt-color); padding: var(--pddng);}

/* Aula 25
body {background-color: blue;}
button {background-color: white; color: red; width: 100px; height:50px; border:2px solid currentColor;}

/* Aula 23
Quando quiser deixar a div alinhada no centro com margem, recomenda-se usar o Clear Fix; */
/* .container {background-color: red; width:500px; margin: 0 auto;}
/* Quando a div principal tem um tamanho fixo, é mais recomendado usar o float: left;*/

/* .box1 {background-color: green; width:150px; height:150px; float: left;}
.box2 {background-color: blue; width:150px; height:150px; float: right;}

/* Antiga forma de usar o Clear Fix
.clearfix {clear: both;} */

/* Nova forma de usar o Clear Fix, sem precisar criar divs */
/* .container::before, .container::after {content: ""; display: table;}
.container::after {clear: both;}

/* Aula 22
body {background-image: url(./img/lsImmortalAlbumBackground.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size:auto;}
 /* propriedade estenográfica/encurtada 
body {background: url(./img/lsImmortalAlbumBackground.jpg) center left /auto no-repeat fixed;} */

/* Aula 21
#exemplo {width:200px; height:200px; background-color: red; transition: width 2s linear 1s, height 2s linear;}
/* #exemplo {width:200px; height:200px; background-color: red; transition: all 2s linear;}
#exemplo {width:200px; height:200px; background-color: red; transition-property: width; transition-duration: 2s; transition-timing-function: linear; transition-delay:2s;} */
/*#exemplo:hover {width:350px; height:350px; background-color: green;}

/* Aula 20
#exemplo1 {border-style:solid; border-width: 5px; border-color: red;}
#exemplo2 {border-top:solid 5px red;}
#exemplo3 {border-bottom:solid 5px red; outline:dotted 5px green;}

/* Aula 19
#conteudo {width:600px; height:1200px; background-color: red; position:relative;}
#texto {width:500px; background-color: green; position:fixed; right:0; bottom:0;}

/* Aula 18
#base {background-color: green; width:600px; height:600px;}
#esquerda {background-color: red; width:300px; height:300px; float:left;}
#direita {background-color: blue; width:300px; height:300px; float: right;}

/* Aula 17
.container1 {display:flex; justify-content: space-evenly;}
#cores1 {width:200px; height:200px; background:linear-gradient(red, blue);}
#cores2 {width:200px; height:200px; background:linear-gradient(to top left, red, blue, green);}
#cores3 {width:200px; height:200px; background:linear-gradient(80deg, red, blue, green);}
#cores4 {width:200px; height:200px; background:linear-gradient(45deg,rgba(255,0,0,0), blue, green);}

.container2 {display:flex; justify-content: center;}
#cores5 {width:200px; height:200px; background:radial-gradient(red, purple);}

/* Aula 16
#cores {width:200px; height:200px; background-color: rgba(64, 183, 140, 0.5);}
/* As cores podem ser chamadas também pela numeração hexadecimal como #fff(branco), pelo próprio nome da cor, pelo rgb como no exemplo acima e pelo hsl como hsl(20, 100%, 59%) (laranja).
O "a" é adicionado na sigla quando aplica opacidade na cor.
*/

/* Aula 15
* {font-size:100%;}
@font-face {font-family: open_sans; src: url(./font/opensans-regular-webfont.woff);}
p {font-family: 'Arimo', sans-serif; font-size:1.2em;}
*/

/* Aula 14
* {font-size:100%;}
@font-face {font-family: open_sans; src: url(./font/opensans-regular-webfont.woff);}
p {font-family: open_sans; font-size: 2.5em;}
*/

/* Aula 13
* {font-size:100%;}
p {font-family: Times, "Times New Roman", serif; font-variant: small-caps; font-weight: bold; font-style: italic; font-size:1em;}
/* 1em é igual 1 16px*/

/* Aula 12
#blocl {background-color: green; width:300px; height:150px; border-radius:20px 50px 100px 0px;}
*/

/* Aula 11
#conteudo {background-color: red; width:300px; height:70px; overflow:auto;}
#conteudo p{opacity:0;}
/* Opacity é o nível de transparência, 1 significa 100% e 0.5 50%. */

/* Aula 10
*{box-sizing:border-box;}
#conteudo {background-color: red; width:300px; padding:20px; box-shadow:10px 10px 5px green;}
*/

/* Aula 9
p {color:red; text-decoration: none; text-transform: capitalize; text-align: justify; text-indent: 20px; line-height: 25px; direction: ltr; letter-spacing: 3px; word-spacing: 4px;}
h1 {text-align: left; text-decoration: underline; text-shadow: 1px 3px 4px red;}
h2 {text-align: right; text-decoration: overline;}
h3 {text-align: center; text-decoration: line-through;}
*/

/* Aula 8
p {color:red; text-decoration: none; text-transform: capitalize;}
h1 {text-align: left; text-decoration: underline;}
h2 {text-align: right; text-decoration: overline;}
h3 {text-align: center; text-decoration: line-through;}
*/

/* Aula 7
#exemplo {background-color: green; color: #fff; width:500px; height:200px; padding: 10px 20px 30px 30px;}
#exemplo2 {background-color: red; color:#fff; width:500px; margin: 20px 30px 20px 40px;}
*/

/* Aula 6
#conteudo {width:80%; height: 100px;background-color: green; color:#fff; padding: 20px;}
/*max-witdh: 500px; min-witdh:  500px; min-height: 20px;*/

/* Aula 5
.texto-principal {color:red; text-align: center;}

.fundo-principal {background-color: green; padding: 20px;}

#conteudo {background-color: blue; padding: 20px; color: green;}
*/

/* Aula 4
h1, h2, p {color: red; text-align: center;}
*/

/* Aula 3
 * {margin:0px; padding:0; color:red;}

h1 {color:blue; font-size:50px;}
p {color:green; font-size:12px;}

input[type="text"]{width:200px; background-color: #ccc; height:35px; border:none;}
input[name="email"]{width:200px; background-color: #ccc; height:35px; border:none;}
input[type="submit"]{width:50px; background-color: green; height:35px; border:none; cursor:pointer; color:#fff;}

/* Aula 2
h1 {color:blue; font-size:60px; font-family: tahoma;}
*/